<!-- Block is a component that is at some places it is with black background and at some places it has no background. At some places it is skewed to the right and at some places it is skewed to the left -->
<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, repellendus?
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, repellendus?
    </p>
  </div>
</section>
